.outer-container {
  border: 2px solid black;
  margin: 0 auto;
  text-align: center;
}

.button-div,
.form-buttons {
  border: black solid 2px;
  width: 50%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 13px 14px 10px -6px rgba(0, 0, 0, 0.75);
}

.button-div button {
  margin: 10px;
  box-shadow: 13px 14px 10px -9px rgba(0, 0, 0, 0.75);
  
}

.form-buttons button {
  box-shadow: 13px 14px 36px -9px rgba(0, 0, 0, 0.75);
}

/* .button-div button {
  border: none;
  border-radius: 25px;
  text-align: center;
  padding: 10px 10px;
  margin: 8px;
  background-color: red;
} */
